@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');


:root{
  --blue: #00B1FF;
  --yellow: #F0C52B;
  --pink: #DF3B94;
  --black:#2c2c2c;
  --white:#f1f1f1;
  --beige:#FCF5E2;

  --grad-1:linear-gradient(90deg, #F0C52B 0%, rgba(223,59,148,1) 100%);

  --primary-font: 'Poppins', sans-serif;
  --secondary-font:'Carter One';

  --bd-1: solid 2px var(--white);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: var(--primary-font);
}

.mt{
  margin-top: 2em;
}

.top-btn{
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 2rem;
  right: 2rem;
  background: var(--blue);
  color: white;
  border: 2px solid var(--white);
  border-radius: 50%;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 999;

  justify-content: center;
  align-items: center;
  display: flex;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;

}

.lg{
  font-family: var(--secondary-font);
  font-size: 1.5rem;
}
h1, h2{
  font-family: var(--secondary-font);
}

.text-center{
  text-align: center;
}

.btns{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5em;
}

button{
  font-family: var(--secondary-font);
  padding: .75em 2.5em;
  border-radius: 5px;
  font-size: 1.35rem;
  cursor: pointer;
}

button:hover{
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.btn-outlined{
  border: 3px solid var(--white);
  background: none;
  color: var(--white);

}
.btn-grad{
  border: 3px solid var(--white);
  background: var(--grad-1);
  color: var(--white);

}
.btn-full{
  background-color: #ffffff; /* Solid white background */
  border: 1px solid #ccc;    /* Optional border */
  cursor: pointer;



}
.btn-full span {
  background: linear-gradient(90deg, #ff7e5f, #feb47b); /* Gradient colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* For modern browsers */
  color: transparent;

  font-family: var(--secondary-font);
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: var(--blue);
}

.logo{
  color: var(--white);
  letter-spacing: -0.05rem;
  font-size: 2.75rem;
}

div.j{
  width: 50%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4em;
}
div.j ul{
  cursor: pointer;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2em;
}
div.j ul>li{
  list-style: none;
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 400;


  border-bottom: solid 4px var(--blue);
  transition: all 0.3s ease-in-out;

}
div.j ul>li:hover{
border-bottom: solid 4px var(--white);
}


/* Hero styling */

section.hero{
  background-color: var(--blue);
  height:88dvh ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: var(--white);
  z-index: 0;
}

section.hero h1{
  font-size: 6.5rem;
  margin-bottom: .5em;
  line-height: 1em;
}

section.hero p{
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.pattern-overlay {
  position: absolute;
  /* top:9%; */
  bottom: 0;
  right: 0;
  width: 100%; /* adjust to suit design */
  height: auto;
  z-index: 4; /* ensure it's behind interactive content */
  pointer-events: none; /* allow interaction through it */
  opacity: .4; /* optional: control pattern intensity */

  justify-content: space-between;
  display: flex;
}
.pattern-overlay img {
  width: 15%;
  height: auto;
}



section.templates{
  background: var(--grad-1);
  height: 115dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  color: var(--white);
  z-index: 2;
  position: relative;

  overflow: hidden;
}

section.templates h2{
  font-size: 4.5rem;
  margin-bottom: .5em;
  line-height: 1em;
}

section.templates p{
  font-size: 1.5rem;
  margin-bottom: 1em;
}

aside.temp-text{
  width: 40%;
}

aside.temp-grid{
  display: flex;
  justify-content: center;
  align-items: center;

  /* border: var(--bd-1); */
  height: 90%;
  overflow: hidden;

}
.col{
  display: flex;
  flex-direction: column;
  animation: scrollUp 15s linear infinite;
}



/* Keyframes for infinite scroll */
@keyframes scrollUp {
  0% {
    transform: translateY(50);
  }
  50% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(25%);
  }
}

.col div{
  margin: 1em;
  height: 300px;
  width: 250px;
  background-color: var(--beige);
  transform: rotate(2deg);
  border-radius: .5em;

  overflow: hidden;
}
.col div img{
  width:100%;
  width: 100%;
  height: 100%;
  object-fit: cover;       /* crop to fill the container */
  object-position: center; /* center the crop */
  display: block;
}

section.how-it-works{
  z-index: 3;
  background: var(--white);
  height: 115dvh;
  text-align: center;

  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;

  
}
section.how-it-works h2{
  font-size: 4.5rem;
  margin-bottom: .5em;
  line-height: 1em;
}
section.how-it-works p{
  font-size: 1.5rem;
  margin-bottom: 1em;
}

h2 span{

  background: linear-gradient(90deg, #ff7e5f, #feb47b); /* Gradient colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* For modern browsers */
  color: transparent;

  font-family: var(--secondary-font);

}

.steps-container{

  margin-top: 6em;
  gap: 2em;
}

.step{


  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.step div{
  height: 150px;
  width: 150px;

  background-color: var(--beige);
  font-family: var(--secondary-font);
  font-size: 2.5rem;

  justify-content: center;
  display: flex;
  align-items: center;

  border: solid 4px var(--yellow);
  border-radius: .25em;
  margin-bottom: .5em;

  transform: rotate(2deg);
}
.step p{

  font-size: .95rem !important;
  font-style: italic;

}

section.we-supply{
  background-color: var(--blue);
  color: var(--white);
  height: 115dvh;

  padding: 1em 10em;

  
}
section.we-supply aside div.img-container{
  width:600px ;
  height: 600px;
  background-color: var(--beige);
   overflow: hidden;
   object-fit: contain;
  border: solid 4px var(--white);
  border-radius: 1em;
  transform: rotate(1deg);
  }
section.we-supply aside div.img-container img{
  width:100%;
  }
section.we-supply aside{
  width: 45%;
}
section.we-supply aside.we-text h2{
  font-size: 4.5rem;
  margin-bottom: .5em;
  line-height: 1em;
}
section.we-supply aside.we-text p{
  font-size: 1.5rem;
  margin-bottom: 1em;
}

footer{
  background-color: var(--black);

  justify-content: center;
  align-items: center;
  display: flex;

  color: var(--beige);

  height: 15dvh;
}
